<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-3"></div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <h1>Register Form</h1>
            <form #myForm="ngForm" (ngSubmit)="register(myForm.value, myForm)">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input type="text" name="username"  id="username"
                    [ngClass]="{ 'form-control': true,  'is-valid': !myForm.controls.username?.errors, 'is-invalid': myForm.controls.username?.errors && myForm?.controls.username?.touched }"
                    placeholder="Your username" required minlength="3" maxlength="25" ngModel >
                </div>
                <div class="text-danger" *ngIf="myForm?.controls.username?.errors?.required && (myForm?.controls.username?.touched || myForm?.submitted)">
                    Username is required!
                </div>
                <div class="text-danger" *ngIf="myForm?.controls.username?.errors?.minlength  && (myForm?.controls.username?.touched || myForm?.submitted)">
                    Username should be 3-25 chars long. You provided {{myForm.controls.username.errors.minlength.actualLength}}
                </div>
                           
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input type="text" name="email" pattern="^[^@]+@[^@]+\.[^@]+$" maxlength="30" 
                    [ngClass]="{ 'form-control': true,  'is-valid': !myForm.controls.email?.errors, 'is-invalid': myForm.controls.email?.errors && myForm?.controls.email?.touched }"
                    placeholder="Your email" required ngModel >
                </div>
                <div class="text-danger" *ngIf="myForm?.controls.email?.errors?.required && (myForm?.controls.email?.touched || myForm?.submitted)">
                    Email is required!
                </div>
                <div class="text-danger" *ngIf="myForm?.controls.email?.errors?.pattern && (myForm?.controls.email?.touched || myForm?.submitted)">
                    Please provide valid e-mail!
                </div>

                <div ngModelGroup="passwords">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-key"></i> </span>
                        </div>
                        <input type="password" name="password" minlength="3" maxlength="30" 
                        [ngClass]="{ 'form-control': true,  'is-valid': !myForm.controls.passwords?.controls.password?.errors, 'is-invalid': myForm.controls.passwords?.controls.password?.errors && myForm?.controls.passwords?.controls.password?.touched }"
                        placeholder="Your password" required ngModel >
                    </div>
                    <div class="text-danger" *ngIf="myForm?.controls.passwords?.controls.password?.errors?.required && (myForm?.controls.passwords?.controls.password?.touched || myForm?.submitted)">
                        Password is required!
                    </div>
                    <div class="text-danger" *ngIf="myForm?.controls.passwords?.controls.password?.errors?.minlength && (myForm?.controls.passwords?.controls.password?.touched || myForm?.submitted)">
                        Password length should be between 3-30 characters!
                    </div>
    
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-key"></i> </span>
                        </div>
                        <input type="password" name="repeatPassword" minlength="3" maxlength="30" 
                        [ngClass]="{ 'form-control': true,  
                        'is-valid': !myForm.controls.passwords?.controls.repeatPassword?.errors, 
                        'is-invalid': myForm.controls.passwords?.controls.repeatPassword?.errors && myForm?.controls.passwords?.controls.repeatPassword?.touched,
                        'is-invalid': myForm?.controls.passwords?.controls.password?.value !== myForm?.controls.passwords?.controls.repeatPassword?.value && myForm?.controls.passwords?.controls.password?.touched && myForm?.controls.passwords?.controls.repeatPassword?.touched }"
                        placeholder="Repeat password" required ngModel >
                    </div>
                    <div class="text-danger" *ngIf="myForm?.controls.passwords?.controls.repeatPassword?.errors?.required && (myForm?.controls.passwords?.controls.repeatPassword?.touched || myForm?.submitted)">
                        Repeat password is required!
                    </div>
                    <div class="text-danger" *ngIf="myForm?.controls.passwords?.controls.password?.value !== myForm?.controls.passwords?.controls.repeatPassword?.value && myForm?.controls.passwords?.controls.password?.touched && myForm?.controls.passwords?.controls.repeatPassword?.touched" >
                        Passwords do not match!
                    </div>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Register</button>
                </div>

                <!-- <pre>{{ myForm.value | json }}</pre> -->
            </form>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-3"></div>
    </div>
</div>
