<div class="container owner">
  <div class="row">
    <div class="col-md-12 text-center mt-3">
      <h2>Movie List</h2>
      <div class="d-flex justify-content-center">
        <div class="mr-sm-5">
          <form
            #searchForm="ngForm"
            (ngSubmit)="searchForMovie(searchForm.value)"
            class="form-inline"
          >
            <input
              class="form-control mr-sm-2"
              type="text"
              name="search"
              maxlength="25"
              placeholder="Search by title"
              ngModel
            />
            <button class="btn btn-secondary">Search</button>
          </form>
        </div>
        <div>
          <form
            #sortForm="ngForm"
            (ngSubmit)="sortMovie(sortForm.value)"
            class="form-inline"
          >
            <select
              class="form-control mr-sm-2"
              type="text"
              name="sort"
              ngModel
            >
              <option disabled>Sort by year</option>
              <option value="asc">Ascending</option>
              <option value="desc">Descending</option>
            </select>
            <button class="btn btn-secondary">Sort</button>
          </form>
        </div>
      </div>
      <hr />
    </div>
  </div>

  <div class="row">
    <div
      class="col-lg-4 col-md-6 col-sm-6 mt-3 mb-3"
      *ngFor="let movie of movies$ | async"
    >
      <div class="card text-center">
        <div class="card-header">
          <h4>{{ movie.title }}</h4>
        </div>
        <a [routerLink]="['/movie', 'details', movie._id]">
          <img
            style="height: 350px; width: 100%; display: block"
            [src]="movie.imageUrl"
            alt="Incorrect image URL"
          />
        </a>
        <div class="card-body p-2">
          <p class="card-text">{{ movie.description | slice: 0:100 }}. . .</p>
        </div>
        <ul class="list-group list-group-flush p-2">
          <li class="list-group-item">Release Year: {{ movie.year }}</li>
        </ul>
        <div class="card-body p-2">
          <a [routerLink]="['/movie', 'details', movie._id]" class="card-link">
            <button class="btn btn-info">Details</button>
          </a>
        </div>
        <div class="card-footer text-muted">
          Upload date: {{ movie.createdAt | date: "dd-MMM-yyyy" }}
        </div>
      </div>
    </div>
  </div>
</div>
