<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h1 class="mb-3 text-center">About this application</h1>
            <hr>
            <div>
                <p>It is built using <a href="https://angular.io/" target="_blank" class="text-info">Angular 8</a>.</p>
            </div>
            <hr>
            <div>
                <p>Some of the other cool features you are going to see are:</p>
                <ul>
                    <li>
                        <p>
                            <a href="https://bootswatch.com/" target="_blank" class="text-info">Bootstrap</a> used for the majority of the stylization.
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="https://github.com/scttcper/ngx-toastr" target="_blank" class="text-info">ngx-toastr</a> used for the notifications depending on some of the user actions.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>