<!-- <div class="card mb-3 text-center">
    <h3 class="card-header">{{movie.title}}</h3>
    <a [routerLink]="['/movie', 'details', _id]">
        <img style="height: 200px; width: 100%; display: block;" [src]="movie.imageUrl" alt="Card image">
    </a>
    <div class="card-body">
        <p class="card-text">{{movie.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Release Year: {{movie.year}}</li>
    </ul>
    <div class="card-body">
        <a [routerLink]="['/home']" class="card-link">
            <button class="btn btn-primary">Details</button>
        </a>
    </div>
    <div class="card-footer text-muted">
        {{movie._kmd.lmt | date: 'dd-MMM-yyyy'}}
    </div>
</div> -->


<div class="d-flex justify-content-center">
    <div class="">
        <img style="height: 400px" [src]="movie.imageUrl" alt="Card image">
    </div>
    <div class="card">
        <div class="col">
            <div class="card-block px-2">
                <p class="card-title">{{movie.title}} <span>({{movie.year}})</span></p>
                <p class="card-text">{{movie.description}}</p>
                <a [routerLink]="['/movie', 'all']" class="btn btn-primary">Back to Movies</a>
            </div>
        </div>
    </div>
</div>

