<div class="container owner">
    <div class="row">
        <div class="col-md-12 text-center mt-3">
            <h2>My movies List</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 mt-3 mb-3" *ngFor="let movie of movies$ | async">
            <div class="card text-center">
                <div class="card-header">
                    <h4>{{movie.title}}</h4>
                </div>
                <a [routerLink]="['/movie', 'details', movie._id]">
                    <img style="height: 350px; width: 100%; display: block;" [src]="movie.imageUrl" alt="Incorrect image URL">
                </a>
                <div class="card-body  p-2">
                    <p class="card-text">{{movie.description | slice:0:100}}. . .</p>
                </div>
                <ul class="list-group list-group-flush  p-2">
                    <li class="list-group-item">Release Year: {{movie.year}}</li>
                </ul>
                <div class="card-body p-2">
                    <a [routerLink]="['/movie', 'edit', movie._id]" [queryParams]="{ id: movie._id, title: movie.title, description: movie.description, year: movie.year, imageUrl: movie.imageUrl }" class="card-link">
                        <button class="btn btn-warning">Edit</button>
                    </a>
                    <a (click)=deleteItem(movie._id) class="card-link">
                        <button class="btn btn-danger">Delete</button>
                    </a>
                </div>
                <div class="card-footer text-muted">
                    {{movie._kmd.lmt | date: 'dd-MMM-yyyy'}}
                </div>
            </div>
        </div>
    </div>
</div>
