<div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-3"></div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h1>Add new movie</h1>
                <form [formGroup]="form" (ngSubmit)="addMovie()">

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-file-word-o"></i> </span>
                        </div>
                        <input type="text" formControlName="title" class="form-control" placeholder="Title">
                    </div>
                    <div class="alert alert-danger" *ngIf="f.title?.errors?.required && f.title?.touched">
                        Title is required!
                    </div>
                    <div class="alert alert-danger" *ngIf="f.title?.errors?.pattern && f.title?.touched">
                        The title should contain only alphanumeric symbols or whitespaces!
                    </div>
                    <div class="alert alert-danger" *ngIf="(f.title?.errors?.minlength || f.title?.errors?.maxlength) && f.title?.touched">
                        The title should be between 3-30 characters!
                    </div>
    
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-calendar-check-o"></i> </span>
                        </div>
                        <!-- min and max attributes here are in case the user clicks the arrows on the input to get directly the year range -->
                        <input type="number" formControlName="year" min="1970" max="2019" class="form-control" placeholder="Year">
                    </div>
                    <div class="alert alert-danger" *ngIf="f.year?.errors?.required && f.year?.touched">
                        Year of the movie is required!
                    </div>
                    <div class="alert alert-danger" *ngIf="(f.year?.errors?.min || f.year?.errors?.max) && f.year?.touched">
                        Year of the movie should be between 1970-2019
                    </div>
                    

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-picture-o"></i> </span>
                        </div>
                        <input type="text" formControlName="imageUrl" class="form-control" placeholder="image URL">
                    </div>
                    <div class="alert alert-danger" *ngIf="f.imageUrl?.errors?.required && f.imageUrl?.touched">
                        Image URL of the movie is required!
                    </div>
                    <div class="alert alert-danger" *ngIf="f.imageUrl?.errors?.maxlength && f.imageUrl?.touched">
                        The image URL should be of max 50 characters!
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-align-left"></i> </span>
                        </div>
                        <textarea formControlName="description" class="form-control" cols="30" rows="5" placeholder="Description"></textarea>
                    </div>
                    <div class="alert alert-danger" *ngIf="f.description?.errors?.required && f.description?.touched">
                        Description is required!
                    </div>
                    <div class="alert alert-danger" *ngIf="(f.description?.errors?.minlength || f.description?.errors?.maxlength) && f.description?.touched">
                        The title should be between 30-500 characters!
                    </div>
    
                    <div class="form-group">
                        <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block">Add new movie</button>
                    </div>
    
                    <!-- <pre>{{ myForm.value | json }}</pre> -->
                </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3"></div>
        </div>
    </div>
    